<?xml version="1.0"?>
<robot name="elements_wall" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
<xacro:macro name="box_inertia" params="m w h d">
  <inertial>
    <!-- <mass value="${m}"/>
    <inertia ixx="${m / 12.0 * (d*d + h*h)}" ixy="0.0" ixz="0.0" iyy="${m / 12.0 * (w*w + h*h)}" iyz="0.0" izz="${m / 12.0 * (w*w + d*d)}"/> -->
    <mass>${m}</mass>
    <inertia>
      <ixx>${m / 12.0 * (d*d + h*h)}</ixx>
      <ixy>0</ixy>
      <ixz>0</ixz>
      <iyy>${m / 12.0 * (w*w + h*h)}</iyy>
      <iyz>0</iyz>
      <izz>${m / 12.0 * (w*w + d*d)}</izz>
    </inertia>
  </inertial>
</xacro:macro>

<xacro:macro name="wall_element" params="num w h d x y">
  <model name="wall_${num}">
    <static>true</static>
    <pose>${x} ${y} ${h/2} 0 0 0</pose>
      <link name='link'>
        <xacro:box_inertia m="1000" w="${w}" h="${h}" d="${d}"/>
        
        <collision name='collision'>
          <geometry>
            <box>
              <size>${w} ${d} ${h}</size>
            </box>
          </geometry>
          <max_contacts>10</max_contacts>
          <surface>
            <contact>
              <ode/>
            </contact>
            <bounce/>
            <friction>
              <torsional>
                <ode/>
              </torsional>
              <ode/>
            </friction>
          </surface>
        </collision>
        
        <visual name='visual'>
          <geometry>
            <box>
              <size>${w} ${d} ${h}</size>
            </box>
          </geometry>
          <material>
            <script>
              <name>Gazebo/BlackTransparent</name>
              <uri>file://media/materials/scripts/gazebo.material</uri>
            </script>
          </material>
        </visual>
        
        <self_collide>0</self_collide>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>

      </link>
    </model>

  </xacro:macro>


</robot>