<?xml version="1.0" ?>
<sdf version="1.5">
<world name="test_world" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- A global light source -->
  <include>
    <uri>model://sun</uri>
  </include>
  <!-- A ground plane -->
  <include>
    <uri>model://ground_plane</uri>
  </include>

  <!-- Default camera angle -->
  <gui fullscreen='0'>
    <camera name='user_camera'>
      <!-- <pose>8.5 -8.5 17.0 0 0.95 2.35</pose> -->
      <pose>0.0 0.0 20.0 0 1.57 1.57</pose>
      <view_controller>orbit</view_controller>
      <projection_type>perspective</projection_type>
    </camera>

    <grid>
      <cell_count>10</cell_count>
      <cell_size>1.0</cell_size>
    </grid>
  </gui>

  <xacro:include filename="elements/elements_cylinder.xacro" />

  <xacro:cylinder_element num="1" r="0.5" h="2" x="0" y="-2" />
  <xacro:cylinder_element num="2" r="0.5" h="2" x="2" y="1" />
  <xacro:cylinder_element num="3" r="0.5" h="2" x="-1" y="2" />

</world>s
</sdf>